* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 5rem 0 5rem 0;
  background: #ddca7d;

  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
thead,
tbody,
tr,
td {
  width: 20rem;
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;
}

h1 {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #242331;
  text-align: center;
  border: 1px solid red;
  border: 1px dotted #242331;
}

input {
  padding: 2px;
}

.name,
.buying,
.selling,
.display {
  color: #533e2d;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.container {
  padding: 2rem;
  margin-bottom: 2rem;
  border: 0.1rem dashed #533e2d;
}

.display {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.button {
  margin-top: 1rem;
  text-align: center;
}

.button button {
  padding: 0 2rem;
  color: #533e2d;
  font-weight: 700;
  font-size: 1rem;
}

.button-1 {
  padding: 0.18rem 1rem;
  color: #533e2d;
  font-weight: 700;
  font-size: 0.8rem;
}
