@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background-color: #ccc5b9;
  align-items: center;
  justify-content: center;
}

/* Index-Starts */

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.main-container .img {
  padding: 1rem;
  text-align: center;
  border: 1px solid #403d39;
}

.main-container .img img {
  width: 5rem;
}

.main-container .img p {
  color: #252422;
  font-size: 1.5rem;
  font-weight: 700;
}

.main-container .links {
  height: 9.75rem;
  border-top: 1px solid #403d39;
  border-right: 1px solid #403d39;
  border-bottom: 1px solid #403d39;
}

.main-container .links a {
  text-decoration: none;
}

.main-container .links a div {
  color: #252422;
  padding: 0.4rem;
  font-weight: 500;
  font-size: 1.55rem;
}

.bottom-border {
  border-bottom: 1px solid #403d39;
}

/* Index-Ends */
